<style>
.searchbox {
    position: relative;
}
.searchbox .searchField {
    height: 2rem;
    border: 1px solid #bbbbbb;
    font-size: 1rem;
}
.searchbox .searchField,
.searchbox .results {
    max-width: 400px;
    width: 100%;
}
.searchbox .results {
    z-index: 1;
    position: absolute;
    top: 2rem;
    left: 0;
    background: #ffffff;
}
.searchbox .result {
    list-style: none;
    border: 1px solid #cccccc;
    border-top: 0;
    padding: 0.5rem 1rem;
}
.searchbox .result:hover {
    background-color: #ccccff;
}
.searchbox .result a {
    display: flex;
    align-items: center;
    justify-content: start;

    color: #000000;
    text-decoration: none;
}
.searchbox .result a img {
    width: 2rem;
    height: 2rem;
}
.searchbox .result a span {
    flex-grow: 1;
    margin-left: 1rem;
}
</style>
    
<div class="searchbox">
    <input class="searchField" placeholder="" type="search">
    <ul class="results">
        <template class="result">
            <li class="result">
                <a href="">
                    <img src="">
                    <span></span>
                </a>
            </li>
        </template>
    </ul>
</div>

<script type="text/javascript">
var searchbox = function(settings) {
    settings = Object.assign({
        containerClassname: '', // CSS class of the searchbox component's container
        placeholder: 'type a search term', 
        searchFunction: '' // must accept a search term and a success handler as inputs
    }, settings);

    var initialize = function() {
        var searchField = document.querySelector('.' + settings.containerClassname + ' .searchField');

        searchField.placeholder = settings.placeholder;

        // every time something is typed, a new search is executed and results are displayed
        searchField.addEventListener('keyup', function(event) {
            search(event.target.value);
        });

        // TODO: bind keyboard navigation: up key

        // TODO: bind keyboard navigation: down key

        // bind keyboard navigation: enter key and clicking the "clear x" on the search input
        searchField.addEventListener('search', function(event) {
            // TODO: exclude up and down key

            search(event.target.value);
        });
    };

    var search = function(searchTerm) {
        clearSearchResults();

        if(searchTerm) {
            settings.searchFunction(searchTerm, renderSearchResults);
        }
    };

    var clearSearchResults = function() {
        document.querySelectorAll('.' + settings.containerClassname + ' .results > li.result').forEach(function(result) {
            result.parentNode.removeChild(result);
        });
    };

    // results is a [{image:'…', link:'…', text:'…'}]
    var renderSearchResults = function(searchTerm, results) {
        var resultsElement = document.querySelector('.' + settings.containerClassname + ' .results');

        results.forEach(function(result) {
            // highlight searchTerm
            var text = result.text.replace(new RegExp('(' + searchTerm + ')', 'i'), '<strong>$1</strong>'); // meh… TODO: HTML in JavaScript: bad!

            // create result element
            var resultElement = document.querySelector('.searchbox template.result').content;
            resultElement.querySelector('img').src = result.image;
            resultElement.querySelector('a').href = result.link;
            resultElement.querySelector('span').innerHTML = text;

            // append to DOM
            resultsElement.appendChild(document.importNode(resultElement, true));
        });
    };

    initialize();
};
</script>
